# input control file for the hydroplane executable


############################################
#               File directories
############################################
refdir = ../references/		# folder for reference input and output
seqdir = 109PromarinusGenomes18Nov2023/
outdir = ../output/ 			# directory for output files

kcountdir = ../references/kcounts/
pcountdir = ../references/pcounts/
splitsequencedir = ../references/SplitGenomes/
splitreaddir = ../references/ReadSequences/
matchdir = ../references/MatchGenomes/
targetgenedir = ../references/TargetGenes/
readmatchplotdir = ../references/MatchPlots/
kmerplotdir = ../references/KmerPlots/

stormfile = ../references/stormfile.json

############################################
#        output files and parameters
############################################
kcountfile = kcounts			# simple kmer counts
pcountfile = pcounts			# kmer counts with positions (output bounded by kmin and kmax)
matchfile = match
readmatchplotfile = readmatch
kmerplotfile = kmermatch
reloutfile = relatives.xls

############################################
#                Program Mode
############################################
kmerizemode = true
readsplitmode = false
matchsequencemode = true
targetgenemode = false
plot_storms_mode = true
firstsequencereference = true
searchsmk = true
build_storms = true			# control whether to seed and build storms or not
dofindalligos = true			# control whether to find neighbors on kmers.Init()
nofindalligos = true 			# control whether to find all oligos for newalligos

############################################
#                Program Input
############################################
seqfile = GCF_027359395.1_ASM2735939v1_genomic.fasta # need to run this for both query and test genomes. A seed genome file
# need file to save clounds to as we will be wanting to save clouds to
seedgenome = GCF_027359575.1 # genome amongst the query genomes

querygenome = GCF_027359575.1#GCF_027359575.1 # maybe a file/diretory with set of genomes
testgenome = GCF_027359595.1 

firstseq = ../references/109PromarinusGenomes18Nov2023/GCA_027359595.1/GCA_027359595.1_ASM2735959v1_genomic.fna

# seqfile = GCF_027359575.1_ASM2735957v1_genomic.fna	 			# query sequence file
geneannotationsdir = GCF_000011465.1-RS_2025_01_23 # value will be used to subset gene files. use "" for all files
############################################
#          main control parameters
############################################
matchboundary = 175
matchsufficient = 5
klen = 12
matchtolerance = 1						# kmer length
linelimit = 3500000000			# line limit, about 300 per cov seq
minseqlen = 0					# sequences must be greater than minseqlen
kminprint = 1					# needs to be very low if just a single genome
printNs = false					# print Ns in sequences? We normally don't want to
printpos = true					# print out positions after end of bed at each line
bedbound = true					# bind kmer output to beds
concurrent = false
ksplit = 1000
readsplit = 250
readwidth = 10
readseed = 2
kmin = 0
kmax = 1000
filetype = fasta				# fasta sequence file; also accepts fastq
seqext = fna					# sequence extension (implicit . before it)
seqprefix = GCA					# sequence prefix
geneseqext = fasta					# sequence extension (implicit . before it)
plotxdim = 20
plotydim = 20
scattersize = 5
plottickfontsize = 24
plotaxisfontsize = 28
movingaveragewindow = 3
plotlinewidth = 3
plottickspacing = 250000
stormsize = 100					# number of non-overlapping kmer clouds in storm
boundary = 6000                  # (units nucleotides), boundary approx but bigger than half of klen*stormsize (2*boundary at least as big as storm). Bigger it is the more noise you pick up
extendtoside = 10				# (units kmer lengths) controls how far beyond a storm seed to extend outwards to find core matches				
minmatch = 0 					# the minimal number of matches to be considered good homologous hit to storm prediction 	
goodmin = 5